 .login-body, .signup-body{
    background: blue;
}
.header-main {

    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: blue;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.topnavbar {
    background: #f4f4f4;
}
.header-logo {
    float: left;
    width: fit-content;
    
    padding-right: 50px;
    height: 100%;
    display: flex;
}
.header-logo img{
    height: 100px;
    padding: 0;
}
.header-nav ul{
    list-style: none;
    padding: 0;
    
}
.header-nav ul li{
    display : inline;
    float: left;
}
.header-nav a{
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    margin-left:200px;

}
.header-nav a::before{
    content: '';
}
.header-nav a:hover{
    text-decoration: underline;
}
.search-bar{
    position: fixed;
    left: 250px;
    padding: 0 150px;
    height: 0;
}
/* from here is tom */
.center {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.center button{

    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f4f4f4;
    border: none;
    outline: none;
    cursor:pointer;
    border-radius: 5px;
}
.popup {
    position: absolute;
    top:50%;
    left:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    padding:  20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: 
        top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}

.popup .close-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center; 
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px;
    font-size: 25px;
}
.form .form-element {
margin: 15px 0px;
}
.form .form-element label{
    font-size: 14px;
    color: #222;
}
.form .form-element input[type="text"],
.form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size : 16px;
    background: #222;
    color: #f4f4f4;
    border-radius: 10px;
    cursor: pointer;
}
.form .form-element a {
    display:block;
    text-align: right;
    font-size:15px;
    color: #222;
    text-decoration : none;
    font-weight: 600;
}
.form .form-element a:hover {
    text-decoration : underline;
}
.form .form-link {
    text-align: center;
}
.form .form-link a,
.form .form-link span{
    font-size:15px;
    color: #222;
    text-decoration : none;
    font-weight: 600;
}
.form .form-link a:hover {
    text-decoration : underline;
}
.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4 ;

}
.media-options a{

    display: flex;
    
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
a.gmail{
    background-color: #EA4335;
    color: #fff;
}
.signup-thing{
    position: absolute;
    top:50%;
    left:50%;
    opacity: 1;
    height: 400px;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    padding:  20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}

/* domico stuff */
.form .form-element a[type="smalltext"],
.form .form-element p[type="smalltext"]{
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
}
.form .form-element a[type="smallhyperlink"] {
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: blue;
}
.form .form-element a:visited[type="smallhyperlink"] {
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: purple;
}
.form .form-element p[type="angrysmalltext"]{
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: red;
}
.form .form-element p[type="happysmalltext"]{
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: green;
}

/* contact form 
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }