/* Please follow this format when writing CSS */

/* Alignment */
/* Box */
/* Text */
/* Background */
/* Not Sure */


body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;

    background-image: url(homepage_background.jpg);
    background-size: cover; /* Adjust the image size as needed */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */

    /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);  
    background: #E0EAFC;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);*/

}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center; 
}

footer {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}


/* Header Section */

header {
     /* Alignment */
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 15px 50px;
    border-radius: 15px;

    /* Background with Frosted Glass Effect */
    background: rgba(255, 255, 255, 0.3); /* Adjust the transparency */
    backdrop-filter: blur(10px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(10px); /* For cross-browser compatibility */
    animation: glowing 1s infinite;
}

/* Define the glowing animation */
@keyframes glowing {
    0% {
        box-shadow: 0 0 20px #ffffff;
    }
    50% {
        box-shadow: 0 0 20px #ffffff;
    }
    100% {
        box-shadow: 0 0 20px #ffffff;
    }
}

/*Logo */
.logo {
    width: 160px;
    height: 62px;
    border-radius: 15px;
    opacity: 0.9;
    animation: glowing 1s infinite;

}


/*Navigation bar*/

nav {
    /* Alignment */
    text-align: right;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    /* Box */
    padding: 5px 10px;
    border-radius: 5px;

    /* Not Sure */
    transition: all 0.3s;
}


nav a {
    /* Alignment */
    display: flex; 
    align-items: center;
    justify-content: center;

    /* Box */
    padding: 0.8em 1.2em;
    border-radius: 25px;

    /* Text */
    font-size: 17px;
    font-weight: bold;
    color: rgb(42, 40, 40);
    text-decoration: none;

    /* Not Sure */
    transition: all 0.3s;
}

/* Define the glowing animation */
@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgb(231, 35, 35);
    }
    50% {
        text-shadow: 0 0 5px rgb(231, 35, 35);
    }
    100% {
        text-shadow: 0 0 5px  rgb(231, 35, 35);
    }
}

nav a:hover {
    font-weight: bold;
    color:#1b5bdc87
    /*animation: glow 1s infinite alternate;*/
  }
  

/*Search + Signup/Login*/
.search-signup {
    /* Alignment */
    display: flex;
    align-items: center;

    /* Box */
    border-left-width: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 12px;


    /* Not Sure */
    transition: all 0.3s;
}
/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;;
    width:150px; /* Adjust the width as needed */
    height: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

/* Search input */
#searchInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent; /* Make the input background transparent */
    font-size: 16px;
    color: rgba(39, 38, 38, 0.9); /* Adjust text color and opacity */
}

/* Search button */
.search-button {
    /* Glassmorphic styles */
    background: rgb(149, 146, 146,0.9);
    border: 0.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 5px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Apply a hover effect */
.search-button:hover {
    background: rgba(50, 49, 49, 0.808);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style the SVG icon */
.search-button svg {
    width: 100%; /* Make the SVG icon take up 100% of the button's width */
    height: 100%; /* Make the SVG icon take up 100% of the button's height */
    fill: rgba(255, 255, 255, 1); /* Adjust icon color and opacity */
}



/* Signin button */
.signin-button a {
    /* Alignment */

    /* Box */
    padding: 10px 20px; 
    border-radius: 15px;

    /* Text */
    font-weight: bold;
    font-size: 16px; 
    color: rgba(255, 255, 255, 1); /* Match the text color and opacity */
    text-decoration: none;
    
    /* Background */
    background: #7ac1fb; 
}

/* Apply a hover effect */
.signin-button a:hover {
    background: linear-gradient(45deg, #c0e2ff, #a0d4ff); /* Pale blue gradient */
}



/* HomePage Sections*/
.box-row {
    /* Alignment */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.box-container {
    /* Alignment */
    text-align: left;
    display: flex;
    justify-content: space-between; /* Distribute space between the boxes */

    /* Box */
    padding: 2%; /* Adjust padding as needed */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1vw; /* Use vw units for border-radius */
    margin: 1%;

    /* Text */
    color: rgb(20, 17, 17);

    /* Background with Frosted Glass Effect */
    background: rgba(255, 255, 255, 0.6); /* Adjust the transparency */
    backdrop-filter: blur(2vw); /* Use vw units for blur */
    -webkit-backdrop-filter: blur(2vw); /* For cross-browser compatibility */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Add a subtle border */

    /* Size of the boxes */
    width: 30%; /* Default width as a percentage */
    height: 25vh; /* Default height as a percentage of viewport height */

    /* Responsive sizes (optional) */
    @media (max-width: 768px) {
        width: 45%; /* Adjust width for screens up to 768px */
        height: 20vh; /* Adjust height for screens up to 768px */
    }

    @media (max-width: 480px) {
        width: 90%; /* Adjust width for screens up to 480px */
        height: 15vh; /* Adjust height for screens up to 480px */
    }
}


/* from here is tom */

.login-body, .signup-body{
    background: blue;
}


.center {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.center button{

    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f4f4f4;
    border: none;
    outline: none;
    cursor:pointer;
    border-radius: 5px;
}
.popup {
    position: absolute;
    top:50%;
    left:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    padding:  20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: 
        top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}

.popup .close-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center; 
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px;
    font-size: 25px;
}
.form .form-element {
margin: 15px 0px;
}
.form .form-element label{
    font-size: 14px;
    color: #222;
}
.form .form-element input[type="text"],
.form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size : 16px;
    background: #222;
    color: #f4f4f4;
    border-radius: 10px;
    cursor: pointer;
}
.form .form-element a {
    display:block;
    text-align: right;
    font-size:15px;
    color: #222;
    text-decoration : none;
    font-weight: 600;
}
.form .form-element a:hover {
    text-decoration : underline;
}
.form .form-link {
    text-align: center;
}
.form .form-link a,
.form .form-link span{
    font-size:15px;
    color: #222;
    text-decoration : none;
    font-weight: 600;
}
.form .form-link a:hover {
    text-decoration : underline;
}
.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4 ;

}
.media-options a{

    display: flex;
    
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
a.gmail{
    background-color: #EA4335;
    color: #fff;
}
.signup-thing{
    position: absolute;
    top:50%;
    left:50%;
    opacity: 1;
    height: 400px;
    transform: translate(-50%, -50%) scale(1);
    width: 380px;
    padding:  20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}

/* domico stuff */
.form .form-element a[type="smalltext"],
.form .form-element p[type="smalltext"]{
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: black;
}
.form .form-element a[type="smallhyperlink"] {
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: blue;
}
.form .form-element a:visited[type="smallhyperlink"] {
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: purple;
}
.form .form-element p[type="angrysmalltext"]{
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: red;
}
.form .form-element p[type="happysmalltext"]{
    display: inline;
    text-align: left;
    font-size: 8px;
    font-weight: normal;
    color: green;
}

/* contact form 
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .box-buttons {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: transparent;
    font-weight: 600;
    color: rgb(20, 17, 17);
    border: 0;
    outline: none;
    font-size: 38px;
    border-radius: 4px ;



    cursor: pointer;

  }