
.popup{
    width: 400px;
    
    background: #3c5077;
    border-radius: 6px;
    position: absolute;
    top: 50% ;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: 333;
}


.popup{
    width: 400px;
    
    background: #3c5077;
    border-radius: 6px;
    position: absolute;
    top: 50% ;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: 333;
}

.open-popup{
    opacity: 1;
}



.popup h1{

    color: #ffffff;
    font-size: 38px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin: 30px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #ffffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px ;
    cursor: pointer;
}


/* Header Section */

header {
    /* Alignment */
   align-items:center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin: 15px 50px;
   border-radius: 15px;

   /* Background with Frosted Glass Effect */
   background: rgba(255, 255, 255, 0.3); /* Adjust the transparency */
   backdrop-filter: blur(10px); /* Adjust the blur amount */
   -webkit-backdrop-filter: blur(10px); /* For cross-browser compatibility */
   animation: glowing 1s infinite;
}

/* Define the glowing animation */
@keyframes glowing {
   0% {
       box-shadow: 0 0 20px #ffffff;
   }
   50% {
       box-shadow: 0 0 20px #ffffff;
   }
   100% {
       box-shadow: 0 0 20px #ffffff;
   }
}

/*Logo */
.logo {
   width: 160px;
   height: 62px;
   border-radius: 15px;
   opacity: 0.9;
   animation: glowing 1s infinite;

}


/*Navigation bar*/

nav {
   /* Alignment */
   text-align: right;
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;

   /* Box */
   padding: 5px 10px;
   border-radius: 5px;

   /* Not Sure */
   transition: all 0.3s;
}


nav a {
   /* Alignment */
   display: flex; 
   align-items: center;
   justify-content: center;

   /* Box */
   padding: 0.8em 1.2em;
   border-radius: 25px;

   /* Text */
   font-size: 17px;
   font-weight: bold;
   color: rgb(42, 40, 40);
   text-decoration: none;

   /* Not Sure */
   transition: all 0.3s;
}

/* Define the glowing animation */
@keyframes glow {
   0% {
       text-shadow: 0 0 5px rgb(231, 35, 35);
   }
   50% {
       text-shadow: 0 0 5px rgb(231, 35, 35);
   }
   100% {
       text-shadow: 0 0 5px  rgb(231, 35, 35);
   }
}

nav a:hover {
   font-weight: bold;
   font-size: 18px;
   /*animation: glow 1s infinite alternate;*/
 }
 

/*Search + Signup/Login*/
.search-signup {
   /* Alignment */
   display: flex;
   align-items: center;
   margin-left: auto;

   /* Box */
   border-left-width: 10px;
   border-radius: 5px;

   /* Not Sure */
   transition: all 0.3s;
}
/* Search Bar */
.search-bar {
   display: flex;
   align-items: center;
   background: rgba(255, 255, 255, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.25);
   border-radius: 25px;
   padding: 5px;
   width:300px; /* Adjust the width as needed */
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

/* Search input */
#searchInput {
   flex: 1;
   border: none;
   outline: none;
   background: transparent; /* Make the input background transparent */
   padding: 10px;
   font-size: 16px;
   color: rgba(39, 38, 38, 0.9); /* Adjust text color and opacity */
}

/* Search button */
.search-button {
   /* Glassmorphic styles */
   background: rgb(149, 146, 146,0.9);
   border: 0.5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   border-radius: 50%;
   padding: 5px;
   width: 36px;
   height: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

/* Apply a hover effect */
.search-button:hover {
   background: rgba(50, 49, 49, 0.808);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style the SVG icon */
.search-button svg {
   width: 100%; /* Make the SVG icon take up 100% of the button's width */
   height: 100%; /* Make the SVG icon take up 100% of the button's height */
   fill: rgba(255, 255, 255, 1); /* Adjust icon color and opacity */
}



/* Signin button */
.signin-button a {
   /* Alignment */

   /* Box */
   padding: 10px 20px; 
   border-radius: 15px;

   /* Text */
   font-weight: bold;
   font-size: 16px; 
   color: rgba(255, 255, 255, 1); /* Match the text color and opacity */
   text-decoration: none;
   
   /* Background */
   background: #7ac1fb; 
}

/* Apply a hover effect */
.signin-button a:hover {
   background: linear-gradient(45deg, #c0e2ff, #a0d4ff); /* Pale blue gradient */
}


